body {
    background-color: #4b8a20;
    font-family: Helvetica;
}

div.contenedor {
    display: flex;
    justify-content: center;
    height: 1100px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;
    width: 900px;
    margin: auto;
    
}

/* Contenido */
div.cabecera {
    width: 100%;
    height: 100px;
  background-image: url(banner2.jpeg);  

}

div.imagen {
    width: 300px;
    height: 200px;
    border: 2px black solid;
    margin-top: -100px;
    float: left;
}

div.imagen > img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    
    
    
    
    
}

div.formulario1 {
   display: flex;
    float: left;
    width: 400px;
    height: 100px;
    border: 2px black solid;
   margin-left: 600px;
   border-color: transparent;
    
    
}
form.form1 {
    margin-top: 60px;
}

input.buscaEnGoogle {
    width: 200px;
    height: 30px;
    float: left;
    margin-top: -10px;
}
input.buscar {
    
    background-color: #e7123a;
    color: white;
    margin-top: -5px;
    margin-left: 5px;
    height: 30px;
    margin-top: -10px;
    border-radius: 10px;
}
div.blanco {
    position: absolute;
    width: 900px;
    height: 11px;
    background-color: white;
    margin-top: 89px;
    margin-left: -602px;
}
/* Contenido */

div.contenido {
    height: 700px;
    border: solid red;
    margin-top: 100px;
   border-color: transparent;

}
/* Noticia */

div.noticia {
    border-bottom: solid blue 2px;
    height: 700px;
    width: 550px;
    font-size: 40px;
    float: left;
    border-color: transparent;
}
span.letrapequena {
  font-size: 15px; 
}
span.letraverde {
    color: #76E388;
font-weight: bold;
}

span.letra-por-encima {
    position: absolute;
}
div.imagenmarvel {
    
    
    
}
div.imagenmarvel > img {
   margin-left: 1px;
    margin-top: -9px;
}

div.texto {
    float: left;
    border: 2px yellow solid;
    width: 100%;
    height: 200px;
    font-size: 15px;
    border-color: transparent;
}
span.negrita {
    font-weight: bold;
}

div.botones-noticia {
    display: flex;
    border: solid 3px black;
    height: 70px;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-top: -20px;
    border-color: transparent;
}
button.twitter-noticia { 
    background-image: url(twitter-noticia.jpeg
    );
    width: 60px;
    height: 20px;
    background-size: 100% 100%;

}

button.cien {
     background-image: url(141.png
    );
    width: 30px;
    height: 20px;
    background-size: 100% 100%;
    margin-left: 5px;
}

button.google-mas-noticia {
     background-image: url(google-mas-noticia.png
    );
    width: 30px;
    height: 20px;
    background-size: 100% 100%;
    margin-left: 40px;
}

button.dos {
     background-image: url(dos.png
    );
    width: 30px;
    height: 20px;
    background-size: 100% 100%;
    margin-left: 5px;
}

button.facebook-noticia {
    
    background-image: url(facebook-noticia.jpeg
    );
    width: 60px;
    height: 20px;
    background-size: 100% 100%;
    margin-left: 40px;
    
}

button.treintayseis-noticia {
    
    background-image: url(36.png
    );
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    margin-left: 5px;
    
}
div.leermas {
    border: solid 1px black;
    height: 20px;
    width: 90px;
    margin-left: 130px;
    color: #15922A;
    font-weight: bold;
    border-color: transparent;
}

/*Columna*/

div.columna {
   float: left;
    
    border: solid 4px red;
    height: 80%;
     width: 332px;
    border-color: transparent;
}



div.en-nuestros-club {
    border-bottom: 2px solid gray;
    font-size: 20px;
    padding-bottom: 5px;
    
   
}
span.verdeoscuro {
    color: #15922A;
    font-size: 20px;
}

div.adsl {
    float:left;
    border: solid 2px black;
    height: 110px;
    width: 100%;
    margin-top: 40px;
    border-color: transparent;
}

div.adsl > img {
    height: 80px;
    float: right;
    margin-top: -75px;
    
}
div.nokia {
    float:left;
    border: solid 2px black;
    height: 110px;
    width: 100%;
    margin-top: 40px;
    border-color: transparent;
}

div.nokia > img {
    height: 80px;
    float: right;
    margin-top: -55px;
}


div.siguenos {
    float: left;
    border-bottom: 1.5px #5e5e5e solid;;
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
    
}
div.newsletter {
    float: left;
    margin-top: 10px;
    font-size: 13px;
    border: solid 2px black;
    width: 100%;
    border-color: transparent;
    font-weight: bold;
}
div.correo {
    float: left;
    width: 100%;
    border: solid 2px;
    height: 40px;
    margin-top: 10px;
    border-color: transparent;
}
input.introducircorreo{
    height: 70%;
}

input.suscribete {
    background-color: #e7123a;
    color: white;
    border-radius: 10px;
   width: 100px;
    height: 80%;
}
div.botonescolumna {
 width: 100%;
    border: solid 2px black;
    display: flex;
    justify-content: space-around;
    border-color: transparent;
}

div.botonescolumna > button {
    width: 30px;
    height: 30px;
    border-style: hidden;
}
div.botonescolumna > button.uno {
    background-image: url(rss.jpeg);
    background-size: 100% 100%; 
}
div.botonescolumna > button.dos {
    background-image: url(twiter2.png);
      background-size: 100% 100%; 
}
div.botonescolumna > button.tres {
    
    background-image: url(facebook2.png);
    background-size: 100% 100%; 
}
div.botonescolumna > button.cuatro {
    
    background-image: url(googlemas2.webp);
    background-size: 100% 100%; 
}
div.botonescolumna > button.cinco {
    background-image: url(logonegro.png);
    background-size: 100% 100%; 
    
}

div.versiones > button.uno {
    height: 40px;
    width: 110px;
    border-radius: 10px 10px;
    background-image: url(versionmovil.png);
    background-size: 100% 100%;
    margin-top: 20px;
    float: left;
    margin-left: 53px;
    border-style: hidden;
}
div.versiones > button.dos {
    height: 40px;
    width: 110px;
    border-radius: 10px 10px;
    background-image: url(versionmovil.png);
    background-size: 100% 100%;
    margin-top: 20px;
    float: right;
    margin-right: 53px;
    border-style: hidden;
    
    
}

div.cincocomentarios {
    float: left;
   position: absolute;
    border: solid 2px black;
    margin-left: 400px;
    margin-top: 100px;
    color: #15922A;
    text-decoration: none;
    font-size: 11px;
    border-color: transparent;
    font-weight: bold;
}



/*Absolutos*/
}
div.lineaversiones {
    float: left;
   position: absolute;
    border-bottom: 1.5px #5e5e5e solid;   
    font-size: 11px;
    margin-left: 568px;
    
    width: 332px;
    margin-top: 520px;
}
div.iconomensaje {
    position: absolute;
    margin-left: 475px;
    margin-top: 90px;
}
div.iconomensaje > img {
    height: 30px;
    width: 30px
}

div.lineadebajonoticia {
        border-bottom: 1.5px #5e5e5e solid;
    height: 700px;
    width: 550px;
    font-size: 40px;
    float: left;
    position: absolute;
    margin-top: -20px
}
/* Pie */
div.bordelistasfinal {
    position: absolute;
    border-top: 1.5px #5e5e5e solid;
    width: 882px;
    height: 10px;
    margin-top: 35px;
    margin-left: 9px
}
div.pie {
    border: solid 2px blue;
    height: 293px;
    background-color:#333333;
    border: transparent;
}

div.pie > div.a {
    border: solid red 100;
    height: 10px;  
    
}

div.pie > div.caja {
        border: solid black 2px;
    height: 93%;
   
    width: 16.5%;
    float: left;
    margin-top: -20px;
    border-color: transparent;
}
div.pie > div.cajafinal {
        border: solid black 2px;
    height: 93%;
    width: 15.3%;
    float: left;
    margin-top: -20px;
    border-color: transparent;
}



li.listafinal {
list-style-type: none;

    margin-left: -33px;
    margin-top: 15px;
    color: #b3b3b3;
    font-size: 14px;
}
li.titulolistafinal {
    color: white;
    font-weight: bold;
   

}





